<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huangyu.databindingexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.huangyu.databindingexample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.huangyu.databindingexample.BindingDataActivity" />
        <activity android:name="com.huangyu.databindingexample.EventHandlingActivity" />
        <activity android:name="com.huangyu.databindingexample.LayoutDetailsActivity" />
        <activity android:name="com.huangyu.databindingexample.ObservableActivity" />
        <activity android:name="com.huangyu.databindingexample.BindingAdapterActivity" />
    </application>

</manifest>